#bg-image
{
    display: flex;
    width: 100%;
    height: 771.087px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#F3F2F2;
    background-image: url("../data/Frame.svg");
}

#section1
{
    display: flex;
    width: 1140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27.581px;
    padding-top: 5%;
}

#section1-title
{
    color:#1B1918;
    font-family: 'Asap';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index:0;
}

.highlight
{
    position: relative;
    display: inline-block;
}

.highlight::after
{
    background-color:#FCDB28B2;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5em;
    width: 100%;
    z-index:-1;
}

#section1-ariane
{
    color:#1B1918;
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#section1-link
{
    text-decoration: none;
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 0 30px;
    background-color: #E7663D;
    color:#F3F2F2;
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#section1-link:hover
{
    box-shadow: 0 4px 20px 0 rgba(168, 56, 21, 0.70);
}

#section1-text
{
    width: 756px;
    color:#1B1918;
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 335px) and (max-width: 1440px)
{
    #section1
    {
        padding:0 20px 60px 20px;
        width:auto;
    }

    #section1-ariane
    {
        font-size:10px;
    }

    #section1-title
    {
        font-size: 32px;
    }

    #section1-text
    {
        width: 100%;
    }
}